@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

* {
    font-family: 'OpenSans-Regular' !important;
}

.navbar-default .navbar-nav > li > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}
.pad-col {
    padding: 15px 25px;
}
.bg {
    box-shadow: 0px 0px 6px #888888;
    width: 89%;
    top: 100px;
    height: 160px;
    display: inline-block;
    position: absolute;
    z-index: -2;
}
input.form-control.custom-form-control {
    height: 31px;
}

.bg-header{
    width: 100%;
    height: 600px !important;
    background-repeat: repeat-x;
    margin: 0 auto;
    background-size: cover;
}

.img-logo{
    width: 200px;
    height: 45px;
}
.top-nav{
    margin-top: 15px;
}
.custom-glyphicon {
    right: -25px;
    top: 8px;
    color: #e8e8e8;
}
.custom-form-control{
    background-color: #c55b3d;
    border-radius: 15px;
    border: none;
}
.pad-col .f-title{
    font-weight: bold;
    min-height: 31px;
}
.f-content {
    min-height: auto;
    font-weight: normal;
}
.pad-col img {
    margin-top: 45px;
}
.top-container{
    margin-top: -100px;
}
.bg-col{
    background-color: white;
}
.bg-black{
    background-color: black;
    height: 5px;
}
.pad-col{
    padding: 15px 25px;
}
.img-border{
    width: 100%;
}
.mar-right{
    margin-right: 15px;
}
.mar-left{
    margin-left: 15px;
}
.img-full{
    width: 100%;
    height: auto;
}
.img-bot img{
    margin-bottom: 30px;
}
.top-col{
    margin-top: 50px;
}
.top-col1{
    margin-top: 40px;
}
.bg-footer{
    margin-top: 30px;
    background-image: url("../../img/demo/bg-footer.jpg");
    height: auto;
}
.f-title-white{
    color: white;
    font-weight: bold;
}
.border{
    border-bottom: 1px;
    border-bottom-color: white;
}
.text-white{
    color: white;
}
.text-silver{
    color: #999999;
}
.bg-footer2{
    background-image: url("../../img/demo/bg-footer2.jpg");
    height: auto;
}
.top-footer{
    margin-top: 20px;
}
.text-copy{
    text-align: center;
}
.img-resize-footer{
    margin: 0 auto;
}
.text-red-title{
    color: #c55b3d;
    font-weight: bold;
}
.pos-title-slider{
    position: absolute;
    top: 80px;
}
.img-80{
    width: 80%;
    height: auto;
}
.carousel-indicators {
    position: absolute;
    bottom: 90px;
    left: 36%;
    z-index: 15;
    width: 74%;
    padding-left: 0;
    margin-left: -23%;
    text-align: right;
    list-style: none;
}
.carousel-indicators li {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 25px;
    height: 6px;
    background-color: #888888;
}
.carousel-indicators .active {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 25px;
    height: 6px;
    background-color: #bebebe;
}
.carousel-indicators.recent_work {
    bottom: 0;
    left: 0;
    position: inherit;
    width: 100%;
}
.navbar-toggle {
    top: 10px;
    background-color: white;
}
img.bg-header {
    width: auto;
    height: auto !IMPORTANT;
    float: right;
    margin-right: 253px;
    margin-top: 73px;
}
.carousel-inner {
    height: 600px;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    #recent_work_slider .carousel-inner {
        /*overflow: visible !important;*/
        float:left;
    }
}
@media screen and (max-width: 767px){
    .img-resize-footer{
        width: 180px;
        height: 40px;
    }
    .pos-title-slider{
        position: absolute;
        top: 10px;
    }
    .navbar-default{
        position: absolute;
        width: 95%;
        background: none;
        box-shadow: none;
        border: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background: #fff;
    }
    .navbar-default .navbar-nav > li > a {
        color: black;
        border-radius: 7px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: #e8e8e8;
        background-color: #c55b3d;
        border-radius: 7px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .custom-glyphicon{
        right: -30px;
        top: 10px;
        color: #e8e8e8;
    }
    .pull-left.top-col1 {
        width: 100%;
    }
    img.bg-header {
        width: 74%;
        height: auto !IMPORTANT;
        left: 11%;
        margin-top: 291px;
        position: absolute;
    }
    .pos-title-slider {
        font-size: 13px;
    }
    .text-red-title {
        font-size: 18px;
        margin: 10px 0px 5px;
    }
    .img-border {
        height: 10px;
    }
}
@media screen and (min-width: 768px){
    .img-resize-footer{
        width: 300px;
        height: 80px;
    }
    .navbar-default{
        position: absolute;
        top: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
}
@media screen and (min-width: 991px){
    .img-resize-footer{
        width: 180px;
        height: 40px;
    }
    .navbar-default{
        position: absolute;
        top: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
    .sep{
        background-image: url("../../img/demo/sep.png");
        height: 30px;
        width: 10px;
        top: 10px;
    }
}
@media screen and (min-width: 1200px){
    .img-resize-footer{
        width: 180px;
        height: 40px;
    }
    .navbar-default{
        position: absolute;
        top: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
    .navbar-default .navbar-nav > li > a {
        color: #e8e8e8;
        border-radius: 7px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: #e8e8e8;
        background-color: #c55b3d;
        border-radius: 7px;
        margin-left: 10px;
        margin-right: 10px;
    }
}